.editor-styles-wrapper .wp-block {
	max-width: 66.4989378333em;
}

.editor-styles-wrapper .storefront-has-sidebar .wp-block {
	max-width: calc(66.4989378333em * 0.7391304348);
}

.editor-styles-wrapper .wp-block[data-align='wide'] {
	max-width: 75.9987860952em;
}

.editor-styles-wrapper .wp-block[data-align='full'] {
	max-width: none;
}
