.appearance_page_eighteen-tags-welcome {
	.col {
		margin-bottom: 0;
	}
	.col2-set {
		&::after {
			clear: both;
			content: "";
			display: table;
		}
		.col-1 {
			overflow: hidden;
			width: 48%;
			float: left;
		}
		.col-2 {
			overflow: hidden;
			width: 48%;
			float: right;
		}
	}
	.version {
		font-size: 30%;
		padding: 0.387em 0.857em;
		border-radius: 3px;
		background-color: #fff;
		font-weight: 700;
	}
	.et-review {
		float: right;
		margin-bottom: .53em;
		p {
			font-size: .857em;
		}
		+ .boxed {
			clear: both;
		}
	}
	.boxed {
		padding: 1em;
		background: #fff;
		box-sizing: border-box;
		border: 1px solid #ddd;
		border-radius: 4px;
		position: relative;
		margin-bottom: 2.618em;
		clear: both;
		> h2:first-child {
			font-weight: 700;
			font-size: 1.1em;
			margin: 11px auto 25px;
		}
		.button {
			line-height: 16px;
			height: 38px;
			padding: 10px 20px;
		}
		p {
			font-size: .857em;
		}
		ul {
			font-size: .857em;
			&.extensions {
				&::after {
					clear: both;
					content: "";
					display: table;
				}
				li {
					width: 48%;
					float: left;
					&:nth-child(2n) {
						float: right;
					}
				}
			}
		}
	}
	.video-wrapper {
		position: relative;
		padding-top: 56.25%;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.pootlepress {
		text-align: center;
		clear: both;
		p {
			font-size: .75em;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #aaa;
		}
		a {
			display: block;
		}
		img {
			margin: 0 0.53em;
			margin-top: -3px;
			opacity: 0.5;
		}
	}
}

//.about-wrap .fs-notice[data-manager-id="eighteen-tags:theme"] {
//	display: block !important;
//}