.shb-header-bar {
  padding-top: 2.618em;
  padding-bottom: 2.618em;
  background-position: center center; }
  .shb-header-bar .widget::after {
    clear: both;
    content: "";
    display: table; }
  .shb-header-bar .widget:last-child {
    margin-bottom: 0; }
